#b1 {
  height: 300px;
  width: 600px;
  border-radius: 6%;
  background-color: #FFFAD7;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  background-color: rgb(43, 144, 226);
}

button {
  position: absolute;
  top: 475px;
  height: 35px;
  width: 60px;
  border-radius: 8%;
  background-color: black;
  color: aliceblue;
}

h5 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 605px;
  left: 585px;
}